/* Define the ROOT SCOPE for the varialbes it will contain */
:root {
  --green: #00ebb3;
  --red: #ff3b5b;
  --yellow: #fdf14f;
  --black: #1b2a45;
  --darkBlue: #00214d;
  --grey: #bfbfbf;
  --lightGrey: #f2f4f6;

  /* Define Color Intentions */
  --background: var(--lightGrey);
  --textColor: var(--black);
}
/* CSS Variables can be scoped for the container.. 
    so '--black' can be redefined in a subesquent selector (like h1, div, etc) */
body {
  background: var(--background);
  color: var(--textColor);
}

.dark {
  --background: var(--black);
  --textColor: var(--lightGrey);
}

/******* STARTING AT LEAST SPECIFIC TOWARD MOST SPECIFIC *******/

/* h1, div, etc */

/* Class, attribute, [type="input"] */

/*  ID's  (Begin to phase out ID's for performance and specificity issues) */

/*  !Important  -  try NOT to use   */

/*  More specific based on load order  */
/* ex:
h1 {
  font-size: 1rem;
}
h1 {                        All h1's will be 2rem's since last-out overrides all above
  font-size: 2rem;
}